
@{
    ViewBag.Title = "AgentsStatus Page";
}
<div class="content-wrapper">
    <h1 style="text-align: center;">TABLE Home</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Agent</th>
                <th>Region</th>
                <th>Available Since</th>
                <th>Processing Since</th>
                <th>Not Ready Since</th>
                <th>First Logged In</th>
                <th>Last Logged Out</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="tblInfo">
        </tbody>
    </table>
    </div>
</div>
