@{
    ViewBag.Title = "navBar";
}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light " data-widget="pushmenu" style="background: #fff; z-index: 9999; box-shadow: 1px 3px 1px #aaa;height:197px">
    <div class="col-sm-12">
        <h2 class="title">Overview</h2>
        <p style="padding-left: 10px; margin-bottom: 0px; font-size: 11px">Last updated</p>
        <p style="padding-left:10px;font-size:11px">November 1, 2020 at 10:00 AM (00:00:10)</p>
        <p style="padding-left:10px">
            <span class="Applied">Applied filters:</span>
            <a href="#" class="btn btn-sm btn-default quebecDiv">
                <span id="txtTitle" class="quebec"></span>
            </a>
            <a href="#" id="divAuto" class="btn btn-sm btn-default quebecAuto">
                <span id="txtTitleAuto" class="quebec"></span>
            </a>
        </p>
    </div>
</nav>